<!DOCTYPE html>
<html ng-app="onlineLearningApp" ng-controller="AppController">
<head lang="en">
    <title ng-bind="pageTitle"></title>
    <META NAME="AUTHOR" CONTENT="Afficient Academy Inc.">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 06 Jul 2015 11:12:01 GMT">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <META NAME="KEYWORDS" CONTENT="Afficient Math, e-Learning, K12 Education">
    <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.min.css"/>
</head>
<body  ng-app="onlineLearningApp" layout="column" ng-controller="AppController">
<h1>Math Joke</h1>

<div ui-view="header"></div>
<div ui-view="main" class="with-pad"></div>
<div ui-view="footer"></div>


</body>


<script type="text/javascript" src="/bower_components/angular/angular.js"></script>


</html>


